apiVersion: apps/v1
kind: Deployment
metadata:
  name: manticore-exporter
  labels:
    name: manticore-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      name: manticore-exporter
  template:
    metadata:
      labels:
        name: manticore-exporter
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "8081"
        prometheus.io/scrape: "true"
    spec:
      containers:
      - name: manticore-exporter
        image: manticoresearch/prometheus-exporter:6.3.8.0
        imagePullPolicy: Always
        env:
          - name: MANTICORE_HOST
            value: "manticore-manticoresearch-balancer-svc"
          - name: MANTICORE_PORT
            value: "9306"
        livenessProbe:
          httpGet:
            path: /health
            port: 8081
          initialDelaySeconds: 3
          periodSeconds: 3
      imagePullSecrets:
      - name: registry-manticore
