name: CLT tests

on:
  schedule:
    - cron: '00 20 * * *'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  clt:
    name: Run CLT tests
    runs-on: ubuntu-22.04
    steps:
      - uses: manticoresoftware/clt@0.1.23
        with:
          image: ghcr.io/manticoresoftware/manticoresearch:test-kit-latest
          test_prefix: tests/clt-tests/